@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Welcome master.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search Customers</h2>
        <p>
            See all customers here.  Search/filter by zip code to see who needs pickup today.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Show Customers", "Index", "Customer")></a></p>
    </div>
    <div class="col-md-4">
        <h2>Change your status</h2>
        <p>Want to change your pickup day for this week or every week?  Or going on vacation?  Let us know here.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Change Pickup", "ChangeStatus", "Customer")></a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Once you're signed up, you get to see how much we're charging you.</p>
        <p><a class="btn btn-default" @Html.ActionLink("How much you owe", "MonthlyCharge", "Customer")></a></p>
    </div>
</div>