@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">GARBAGEWACK is a free web framework for builsnatch supreme servers in eych tee em el and css.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Submit your info here</h2>
        <p>
            Once you have an account, you can fill in your information here so we can start your trash collection.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Update Account Information", "Create", "Customer")></a></p>
    </div>
    <div class="col-md-4">
        <h2>Change your status</h2>
        <p>Want to change your pickup day for this week or every week?  Or going on vacation?  Let us know here.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Change Pickup", "ChangeStatus", "Customer")></a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Once you're signed up, you get to see how much we're charging you.</p>
        <p><a class="btn btn-default" @Html.ActionLink("How much you owe", "Put name of cshtml here", "Customer")></a></p>
    </div>
</div>